{
  "plugins": [
    [
      "babel-plugin-jsx-pragmatic",
      {
        "import": "dom",
        "module": "jsx-translate"
      }
    ]
  ],
  "presets": [
    "babel-preset-primavera",
    [
      "@babel/preset-react",
      {
        "pragma": "dom"
      }
    ]
  ]
}